<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let data of companiesData | keyvalue">
        <th scope="row">{{data.value.company}}</th>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      
    </tbody>
  </table> 