<br />
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="profile__aside">
      
          <div class="card mb-3">
              <h3 class="card-header">{{profileData.firstName}} {{profileData.lastName}}</h3>
              <div class="card-body">
                <h5 class="card-title">{{profileData.position}}</h5>
                <h6 class="card-subtitle text-muted">{{profileData.company}}</h6>
              </div>
              <img style="height: 200px; width: 100%; display: block;" [src]="profileData.image" alt="Card image">
              <div class="card-body">
                <p class="card-text">{{profileData.description}}</p>
              </div>
            
          
            </div>
          

      </div> <!-- / .profile__aside -->
    </div>
    <div class="col-sm-9">
      
      <!-- Profile nav -->
      <nav class="clearfix">

 
            <h1 class="block-header alt">
              <span>Profile</span>
            </h1>
   
      </nav>
        
      <div class="profile__body">

       
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit provident harum temporibus necessitatibus pariatur facilis asperiores modi quo error, dolorem magni praesentium, deleniti iure perspiciatis voluptates ipsum placeat amet illum!
        </p>
        

        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>

        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque incidunt placeat minima id reiciendis. Sint illum neque officiis, assumenda enim totam reiciendis impedit quod culpa reprehenderit eligendi sequi vel harum.
        </p>
        <div class="text-right">
          <a class="btn btn-primary"  [routerLink]="['/profile/edit']">Edit</a>
      </div>
      </div> <!-- / .profile__body -->

    </div>
  </div> <!-- / .row -->
</div>

